h1 {
  color: cyan;
  text-align: center;
}
h2 {
    text-align: left;
    font-style: inherit;
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
.intro {
  font-style: italic;
}.author{
  color: red;
}
img {
  float: left;
}
.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}
.column {
    width: 350px;
    float: left;
  }
  .test-box {
  border-left: 2px solid red;
  border-right: 4px solid blue;
  border-top: 6px solid orange;
  border-bottom: 8px solid black;
  padding: 70px;
  margin: 50px;
  background-color: aqua;
}
.cats p {
  background-color: coral;
}
.dogs p {
  background-color: steelblue;
}
